# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/.next/

# Environment files
.env
.env
backend/.env
frontend/.env

# ML datasets / generated data
data/raw/
data/prepared/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db